@import url(https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe);





a {
    color: #5F6368;
    text-decoration:none;

}

.header-text{
    color: black;
    font-size: 14px;
    padding-left: 5px;
    font-family: 'ZCOOL Kuaile', cursive;
}

.header-text:hover{
    text-decoration:underline;
}



.button {
    width: 100%;
    border: 1px solid transparent;
    padding: 5px;



}

.button:hover {
    border: 1px solid black;
}


/*Header layout */
.main-header{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:top;
    height:89px;


}

.main-header div{
    padding: 5px;
}


.headerbox1{
    flex: 1;

}

.headerbox2{
    flex: 1;

}

.headerbox3{
    flex: 12;

}

.headerbox4{
    flex: 1;

}

.headerbox5{
    flex: 1;

}

.headerbox6{
    flex: 1;

}

.headerbox7{
    flex: 1;

}


/*Main form layout */

.main-content{
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    height:351px;

}


/*Google image box */


.google-image div{
    padding:10px;
}

.google-image{
    display:flex;
    height: 120px;

}

.google_image_box1{
    flex:3;
    order:2;
    text-align:center;
}

.google_image_box1 img{
    max-height:100%;
    max-width:100%;
}

.google_image_box2{
    flex:1;
    order:1;
}


.google_image_box3{
    flex:1;
    order:3;
}




/*Search bar box */

.searchbox_style{
    width: 80%;
    padding: 5px;
}


.search-bar{
    display:flex;
    height: 50px;
    align-items:center;


}

.searchbox1{
    flex:3;
    order:2;
    text-align:center;
}

.searchbox2{
    flex:1;
    order:1;
}

.searchbox3{
    flex:1;
    order:3;
}




/* Search button box */

.button-row{
    display:flex;
    height:60px;
    align-items:center;


}

.box1{
    padding:5px;
    flex:1;
    order:2;
}


.box2{
    padding:5px;
    flex:1;
    order:3;
}


.box3{
    flex:2;
    order:1;
}

.box4{
    flex:2;
    order:4;
}
